@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="Registration" asp-controller="Account">Зареєструватись</a>
    <a asp-action="Avtorization" asp-controller="Account">Увійти</a>
</div>
