@{
    ViewData["Title"] = "Автор проекту";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
        <div class="text-center">
            <h3 class="fw-bold text-primary">Виконав: Ренькас Альберт</h3>
            <p class="text-muted fs-5">Група: ІПЗ-23-5</p>
        </div>
    </div>
</div>
